<div
  style="
    max-height: 520px;
    overflow-y: auto;
    margin: 40px auto;
    padding: 0 20px;
    width: 95%;
  "
>
  <table
    id="tblHistoricals"
    class="table table-bordered"
    style="border-collapse: collapse; text-align: center"
  >
    <thead>
      <tr>
        <th class="tblHistoricals">ID</th>
        <th class="tblHistoricals">User Name</th>
        <th class="tblHistoricals">Query Params</th>
        <th class="tblHistoricals">Response</th>
        <th class="tblHistoricals">Queried At</th>
      </tr>
    </thead>
    <tbody *ngIf="historicalQueries.length > 0; else msgNoData">
      <tr *ngFor="let h of historicalQueries">
        <td>{{ h.id }}</td>
        <td style="text-align: left">{{ h.userName }}</td>
        <td style="text-align: left">{{ h.queryParams }}</td>
        <td style="text-align: left">
          <button
            class="btn btn-link p-0"
            (click)="openPopup(h.queryParams, h.response)"
          >
            View
          </button>
        </td>
        <td style="text-align: left">
          {{ h.queriedAt | date : "dd/MM/yyyy HH:mm" }}
        </td>
      </tr>
    </tbody>
    <ng-template #msgNoData>
      <tbody>
        <tr>
          <td colspan="5" style="text-align: center; font-style: italic">
            No data available...
          </td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div>

<!-- Modal Out of the table -->
<div *ngIf="showPopup" class="modal-overlay">
  <div class="modal-content">
    <app-show-data-weather
      [weather]="selectedResponse"
      [selectedCity]="selectedCity"
    >
    </app-show-data-weather>

    <div style="text-align: center; margin-top: 20px">
      <button class="btn btn-sm btn-secondary" (click)="closePopup()">
        Close
      </button>
    </div>
  </div>
</div>
