<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Clima App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/info-weather" routerLinkActive="active">Info del clima</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/forecast" routerLinkActive="active">Forecast</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenedor para las rutas -->
<router-outlet></router-outlet>
