<main class="main">
  <div class="content">
    <!-- Left side: City selection -->
    <div class="container">
      <label for="citySelect">Select a city</label>
      <!-- City selection combo -->
      <select
        [(ngModel)]="selectedCity"
        (change)="getWeatherInfo(selectedCity)"
      >
        <option
          *ngFor="let city of cities"
          [value]="city.name"
          id="{{ city.id }}"
        >
          {{ city.name }}
        </option>
      </select>
    </div>

    <!-- Divider -->
    <div class="divider" role="separator" aria-label="Divider"></div>

    <!-- Right side: Weather info with scrollable wrapper -->
    <div class="weather-scroll-wrapper">
      <app-show-data-weather [selectedCity]="selectedCity" [weather]="weather">
      </app-show-data-weather>
    </div>
  </div>
</main>
