html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.styled-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .styled-table th {
    background-color: #0860b8;
    color: white;
    text-align: left;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .styled-table td {
    padding: 8px;
    color: #555;
  }
  
  .styled-table tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .styled-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* ==== Estilos personalizados para la tabla #tblHistoricals ==== */
#tblHistoricals {
    color: black; /* Aplica color de texto a toda la tabla */
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
  
  #tblHistoricals th {
    background-color: #0d6efd; /* Color de fondo del encabezado */
    color: white;
    padding: 10px;
    text-align: left;
  }

  #tblHistoricals thead th {
    position: sticky;
    top: 0;
    background-color: #0d6efd; /* Color de fondo del header */
    color: white;
    z-index: 2;
  }
  
  
  #tblHistoricals td {
    border: 1px solid #0d6efd; /* Bordes azules */
    padding: 8px;
    text-align: left;
  }
  
  #tblHistoricals tr:nth-child(odd) {
    background-color: #f1f8ff; /* Color de fondo alterno */
  }
  
  #tblHistoricals tr:hover {
    background-color: #e0f0ff; /* Hover suave */
  }
  